@import url('https://fonts.googleapis.com/css?family=Tangerine');
/*.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #0099ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}*/

.imgcontain {
  position: relative;
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 45px;
  width: 250px;
  height: 250px;
}
.imgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.imgcontain:hover .imgoverlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

#profilepic{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 0;
}
#profilepic1{
  position: absolute;
  width: 250px;
  height: 250px;
  left: 0;
}
.title {
  position: absolute;
  width: 250px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}
.imgcontain:hover .title {
  top: 90px;
}
#imgbutton {
  position: absolute;
  width: 250px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}
#imgbutton a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.imgcontain:hover #imgbutton {
  opacity: 1;
}

#photodiv{
	width: 400px;
	background-color: #ccc;
	border:10px solid #ddd;
}
.newcoursediv{
width: 500px;
margin: auto;
padding:10px 10px;
}
.form-group label,input,textarea{
  float: left;
  padding:auto 40px;
}
.newcoursediv input,textarea{
  width: 80%;
  padding-bottom: 15px;
}
#columnleft{
 border-right: 3px solid #03406e;
}
#dashboard2,#dashboard1{
  display: inline-block;
  vertical-align: top;
}

#columncenter{
border-right: 3px solid #03406e;
}
table{
	margin-top:30px;
	border: 1px solid black;
}
.col-sm-6{
 border-right:2px solid black;
 border-left: 2px solid black; 
}
#marksbtn{
  text-align: center;
}
.signup{
  border: 2px solid #bde4f0;
  border-radius: 5px;
  text-align: center;
  width: 500px;
  margin-top: 15px;
  background-color:rgb(199,232,242,0.3); 
  height: 750px;
}
#signupdiv{
  text-align: center;
  margin: 10% auto;
  height: 800px;
  width: 400px;
  color: black;
}
#signupdiv h2{
  border-bottom: 5px solid #5f99f5;
  margin-bottom: 30px;
  margin-top: 10px;
}
#start{
  margin-top: 100px;
	background-image: url(includes/bg1.jpg); 
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	text-align: center;
}
.inputtext{
  border:none;
  border-bottom: 2px solid #5f99f5;
  padding-bottom: 30px;
  outline: none;
  background: none;
  padding:15px 0px;
  margin: 8px 0px;
  font-size: 20px;
  color: black;
  width: 90%;
}
#signupdiv input{
  border:none;
  outline: none;
  background: none;
  font-size: 20px;
  color: black;
  width: 80%;
}
#signupdiv label{
  float: left;
  padding-left:15px;
  font-size: 23px;
  font-weight: bold;;
}
#radios{

  float: left;
}
#radios input{
  margin: 5px 5px;
  width: 10px;
}
li{
  display: inline;
}
#signupdiv button{
  width: 80%;
  padding-top: 8px;
  background: none;
  outline: none;
  font-weight: bolder;
  color:black;
  border:2px solid #5f99f5;
}
#newsdiv {
    height: 100vh;
    overflow: auto;
}
#chatlist {
    height: 100vh;
    overflow: auto;
}
.profile{
	background-image: url(2.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	text-align: center;
	font-size:20px;
}
.fixed-bottom{
  width:300px;
  height:400px;
  margin-left: 100px;
  background-color: #cedaf5;
  background-image: url(includes/bg4.jpg);
  background-size: cover;  
}
#fullchat{
  display: none;
}
#chatinput{
  position: absolute;
  width: 400px;
  padding-bottom: 5px;
  bottom:0;
}
h4{
  text-decoration-color: white;
}
.chattitle{
  font-size:20px;
  text-decoration-color: white;
  text-align: left;
  text-decoration: underline;
  padding-left: 10px;
  bottom: 8px;
}
#chathead{
  top: 0;
  position: absolute;
  background-color: #271ab8;
  width: 100%;
}
#chatlog{
  overflow: auto;
  max-height: 346px;
  margin-top: 10px;
}
#textmessage{
width: 230px;
margin-left: 3px;
margin-right: 0px;
float: left;
bottom: 0px;
}
#textbtn{
  float: left;
margin-left: 5px;
}
.chat-left{
  float: left;
max-width: 250px;
margin-left: 10px;
background-color: #ceddf0;
text-align: left;
padding:10px 10px;
margin-top: 10px;
border-radius: 5px;
}
.chat-right{
  float: right;
max-width: 250px;
margin-right: 10px;
background-color: #64a3f5;
text-align: right; 
padding: 10px 10px;
right: 0; 
margin-top: 10px;
border-radius: 5px;
}
.messageline{
  font-size: 15px;
  clear: both;
}
.newsbtn{
  background-color: #dfe4eb;
  color: black;
  border:none;
  font-size: 15px; 
}
.newsbtn img{
  height: 100px;
  width: 100px;
}
.newbtn hover{
  background:-color:#dfe4eb; 
}
.newsbtn a:link, a:visited {
  color: black;
  text-decoration: none;
}